{%extends "base.html"%}

{%block title%}Home{%endblock%}

{%block body%}
</style>

<div class="row">

    <div class="col">
        <div class="card p-3">
            <h2>Whither Website</h2>
            <p>Current Status:</p>
            <ul>
                <li>Latency: {{ latency }} ms</li>
                <li>Uptime: <span id="uptime">Loading..</span></li>
                <script>
                    function updateUptime() {
                        const uptimeElement = document.getElementById('uptime');
                        const uptimeSeconds = {{uptime}};
                        const currentTime = Math.floor(Date.now() / 1000);
                        const elapsedSeconds = currentTime - uptimeSeconds;
            
                        const days = Math.floor(elapsedSeconds / 86400);
                        const hours = Math.floor((elapsedSeconds % 86400) / 3600);
                        const minutes = Math.floor((elapsedSeconds % 3600) / 60);
                        const seconds = elapsedSeconds % 60;
            
                        uptimeElement.textContent = `${days}d ${hours}h ${minutes}m ${seconds}s`;
                    }
                    updateUptime();
                    setInterval(updateUptime, 1000);
                </script>
            </ul>
        </div>
    </div>

    <div class="col-md-3 card p-3" style="position:sticky; top:84px;">
        {%if not current_user.is_active%}
        <button class="btn btn-primary mb-3" disabled>`wlogin` to login</button>
        {%else%}
        <p>Logged in as: <b><a href="/u/{{current_user.id}}">{{current_user.id}}</a></b></p>
        {%endif%}
    </div>

</div>

{%endblock%}k