{%extends "base.html"%}

{%block title%}Edit Profile{%endblock%}

{%block body%}

<div class="card" style="padding:16px">
        <h1 class="text-center">Edit Profile</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="avatar" class="form-label">Avatar url</label>
                <input name="avatar" class="form-control" id="avatar" value="{{current_user.avatar}}">
            </div>
            <div class="mb-3">
                <label for="about" class="form-label">About</label>
                <textarea name="about" class="form-control" id="about" type="about">{{current_user.about}}</textarea>
            </div>
            <input type="hidden" name="next" value="{{next}}"/>
            <input type="submit" class="btn btn-primary" value="🙏 Edit Profile" />
        </form>
</div>

{%endblock%}