{%extends "base.html"%}
{%block title%}{%if user%}{{user.nickname}}{%else%}User not found{%endif%}{%endblock%}

{%block body%}

<div class="row card pt-1">
    <h1><b>{{user.username}}</b></h1>
</div>


<div class="row mt-3">
    <div class="col-md-2 card p-3">
        <div class="mb-3">
            <img src = "{{user.avatar}}" width = "100%" height="100%">
        </div>
        <p>Points: <b>{{user.points}}</b></p>
    </div>
    <div class="col card pt-3 ms-3">
        <h2><b>About</b></h2>
        {{about |safe}}
    </div>
</div>

{%endblock%}
