{%extends "base.html"%}

{%block script%}Sign up{%endblock%}

{%block body%}

<div class="card" style="padding:16px">
        <h1 class="text-center">Registerp</h1>
        <form method="POST">
            <div class="mb-3">
                <label for="gmail" class="form-label">Gmail</label>
                <input class="form-control" id="gmail" name="gmail">
            </div>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input class="form-control" id="username" name="username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input class="form-control" id="password" name="password" type="password">
            </div>
            <input type="submit" class="btn btn-primary" value="🚑 Sign up">
        </form>
</div>

{%endblock%}